<!DOCTYPE html>
<html>
  <head>
    <title>Hora ago</title>
  </head>
  <body>
    <center>Esta es la hora actual menos <%= @hora %> horas<br>
    <h1><%= @hora_mostrar %></h1></center>
  </body>
</html>