<html>
<head>
  <title>Online Calculator</title>
</head>
<body>
  <center>
    <h1>Calculator</h1>
    <img src="Calculatorlogo.png" alt="Calculator logo" height="80">
    <%= @result %>
  </form>
  </center>
</body>
</html>